<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <%- include("./public/head.ejs")%>
</head>
<body>
<%- include("./public/header.ejs")%>
<section class="main floatfix">
    <%- include("./public/aside.ejs")%>
    <section class="main-articles friends">
        <div class="friend_header"> Userful Resources</div>

        <ul class="list-group friend-group">
            <a href="https://github.com" target="_blank"><li class="list-group-item">GitHub</li></a>
            <a href="http://www.runoob.com/" target="_blank"><li class="list-group-item">Runoob</li></a>
            <a href="https://segmentfault.com/" target="_blank"><li class="list-group-item">SegmentFault</li></a>
            <a href="https://google.com" target="_blank"><li class="list-group-item">Google</li></a>
            <a href="https://www.npmjs.com" target="_blank"><li class="list-group-item">NPM</li></a>
            <a href="https://ruby-china.org/" target="_blank"><li class="list-group-item">Ruby China</li></a>
            <a href="http://www.w3school.com.cn" target="_blank"><li class="list-group-item">W3CSchool</li></a>
            <a href="https://developer.mozilla.org" target="_blank"><li class="list-group-item">MDN</li></a>
            <a href="https://gitee.com/" target="_blank"><li class="list-group-item">Gitee</li></a>

        </ul>
    </section>
</section>
<%- include("./public/footer.ejs")%>
</body>
</html>